# Ignore executable files
*.out

# Ignore object files
*.o

# Ignore files generatied by the coverage test
*.gcda
*.gcno
*.info
*input*
*output*

# Ignore IDE and build systems files
*.idea*
*.iml
*build*
.project
.cproject
target/
/Debug/
/Release/
x64
*javagen*
.vs
*.user
# Ignore backup files
.~*

